:root {
    --primary-color: #4CAF50;
    --secondary-color: #ffffff;
    --tertiary-color: #777777;
  }
  
  
body {
background-color: #B99B6B;
font-family: Arial, sans-serif;
margin: 0;
padding: 20px;
color: var(--secondary-color);
}

/* personalizar o título do projeto */
.title {
    background-color: #698269;
    color: var(--secondary-color);
    padding: 20px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
    margin-bottom: 15px;
    width: 30%;
    /* posição */
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
/* personalizar "Cadastrar Livro" */
h2 {
    background-color: #3A98B9;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
    
/* personalizar "Listagem de Livros" */
.listagem {
    background-color: #b475db;
    text-align: center;
    margin-top: 80px;
    color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 20%;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
form {
    margin-bottom: 20px;
}
    
.form-container {
    background-color: #A9907E;
    border: 3px solid #7bf064;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

/*título, autor e data (nomes para alteração)*/
label {
    font-weight: bold;
    color: var(--secondary-color);
}
  
input[type="text"],
select {
    text-align: center;
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom: 20px;
}
  
/* alterar a caixinha da data */
input[type="date"] {
    text-align: center;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom: 20px;
}
  
input[type="submit"] {
    display: block;
    width: 40%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 0 auto;
}
  
/* alterar a cor do botão quando o cursor passa por cima dele */
input[type="submit"]:hover {
    background: linear-gradient(45deg, #7bf064, #42aaf5);
}

/* alterar texto da exibição na listagem dos livro */
table {
    background-color: #72717f;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: var(--secondary-color);
    text-align: center;
}
  
/* personalizar caixinha de "Ordenar por" */
#sort-by {
    margin-top: 10px;
    width: 15%;
}
  
table,
th,
td {
    border: 1px solid var(--primary-color);
    padding: 8px;
}
  
/* alterar a barra de exibição dos livros (th)*/
th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
}
  
tr:nth-child(even) {
    background-color: --tertiary-color;
}
  
.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.edit-button,
.delete-button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
.delete-button {
    background-color: #f44336;
}
  
#book-list-container,
h2.listagem,
p {
    display: none;
}